body {
    padding-top: 60px;
    color: #5a5a5a;
    margin: 0px;
    background-color: rgb(248, 236, 195);
}

.summary {
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.8;
}

/* 轮播广告 */

.carousel {
    height: 350px;
    margin-bottom: 20px;
}

.carousel .item {
    height: 350px;
    background-color: #000;
}

.carousel .item img {
    width: 100%;
}

.carousel-caption {
    z-index: 10;
}

.carousel-caption h2 {
    font-family: 华文行楷;
    color: navajowhite;
    opacity: 0.7;
}

.div_divider {
    width: 75%;
    float: left;
    padding: 10px;
}

.div_divider img {
    width: 160px;
    height: 160px;
    padding: 20px;
}

.div_record {
    float: left;
}

.div_article .item_article {
    margin: 20px;
}

.list-group-item-text {
    font-size: 15px;
    line-height: 1.5;
}

hr {
    margin: 5px;
}

.ping img {
    width: 30px;
    height: 30px;
}

.img1 {
    width: 20px;
    height: 20px;
}

.div1 span {
    width: 20px;
    height: 20px;
}

.imgs img {
    width: 250px;
    height: 250px;
    margin: 10px;
}

audio{
    width: 300px;
    height: 50px;
}